*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;      
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main {
    background-image: url(./imagesaccueil/background-accueil.png);
    height: 100vh;
}

.presentation {
    font-weight: 500;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

h1 {
    font-weight: 100;
    font-style: italic;
    padding-left: 70px;
    font-size: 6rem;
}

.section {
    display: flex;
    gap: 80px;
}

.explication-accueil {
  font-weight: 400;
  width: 45%;
  margin-top: 30px;
  padding-left: 70px;
}

.imagesaccueil {
    display: flex;
    flex-direction: column;
}

.imagesaccueil .image1 {
    width: 85%;
    margin-top: -150px;
}

.imagesaccueil .image2 {
    width: 22%;
    filter:grayscale(100);
    margin-left: 200px;
    margin-top: -110px;
}

.imagesaccueil .image3 {
    width: 17%;
    filter:grayscale(100);
    margin-top: -380px;
    margin-left: -50px;
}

.imagesaccueil .image4 {
    width: 18%;
    margin-left: 710px;
    margin-top: -200px;
}


