
.body{
    height: 100vh;
}


.image1{
    clip-path:ellipse(50% 50%);
    

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 23px;
    
}

#men{
    display: none;
}
#women{
    display: none;
}
#girls{
    display: none;
}
#boys{
    display: none;
}