

.container-wrapper{
     flex-flow: row wrap;
    text-align: center; 
    
    
}
.gender {
    text-align: left;
    box-sizing: border-box;
    padding: 20px; 
    width: 50%; 
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px; /* Ajoutez un espacement au besoin */
}


.image1{
    clip-path:ellipse(50% 50%);
    

}





#men{
    display: none;
}
#women{
    display: none;
}
#girls{
    display: none;
}
#boys{
    display: none;
}









