rect {
fill: rgb(255, 255, 255);
stroke: black;
stroke-width: 0.05px;
}

.graph-container {
     background-image: url('./Capture_d_écran_2023-11-09_à_17.26.50-removebg-preview.png   ');
     background-repeat: no-repeat;
     background-size: cover; 
}


