rect {
fill: rgb(255, 255, 255);
stroke: black;
stroke-width: 0.05px;
}

.graph-container {
     background-image: url('./hommededos.png');
     background-repeat: no-repeat;
     background-size: cover; 
}




