*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;      
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #f4f4f4;
}


main {
    background-image: url(./imagesaccueil/background-accueil.png);
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}

.presentation {
    font-weight: 500;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

main h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 6rem;
}


.section {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    gap: 5%;
    height: 40vh;
}

@media screen and (max-width:1172px) {

    main h1 {
        font-weight: 100;
        font-style: italic;
        font-size: 5rem;
    }

    .section {
        gap: 10%;
       
    }


    .imagesaccueil {
    

        width: 5%;
        height: 5%;
        
        top: -10%;
        left: 2%;    
    }

    .imagesaccueil .image2 {
       visibility: hidden;
    }

    .imagesaccueil .image3 {
        visibility: hidden;
    
    }

    .imagesaccueil .image4 {
        visibility: hidden;

    }

}

.explication-accueil {
  font-weight: 400;
  width: 30%;
}



.imagesaccueil {
    background-image: url(.//imagesaccueil/image1.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 65%;
    height: 60vh;
    
    position: relative;
    bottom: 55%;
    left: 2%;
    
}


.imagesaccueil .image2 {
    position: absolute;
    top: 20%;
    left: -5%;

    width: 20%;
    filter:grayscale(100);
    height: 25%;
    
}

.imagesaccueil .image3 {
    width: 30%;
    filter:grayscale(100);
    height: 30%;

    position: absolute;
    top: 70%;
    left: 20%;
    
}

.imagesaccueil .image4 {
    width: 20%;
    height: 25%;

    position: absolute;
    top: 30%;
    left: 85%;

}



.circle {
    font-family: 'IBM Plex Serif', serif;
    font-size: 0.75rem;
    font-style: italic;

    position: absolute;
    bottom: 25px;
    right: 50px;

    z-index: 1;


    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText
 {
    0%
    {
        transform: rotate(-360deg);
    }

    100%
    {
        transform: rotate(0deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 100px;
}

.page2{
    background-image: url(./imagesaccueil/background-page2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Roboto Mono', monospace;
    color: black;
    position: relative;
}

.page2 h2 {
   padding-top: 101px;
   padding-left: 101px;
   margin-bottom: 17px;
}

.page2 .p1{
  padding-left: 101px;
  padding-right: 150px;
}

.page2 .p2{
    padding-left: 101px;
    padding-right: 400px;
   
}

.page2 .p3 {
    padding-left: 101px;
    padding-right: 400px;

}

.typewriter-container {
    display: flex;
    justify-content: flex-start;
}

.typewriter h2 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(50);
}

@keyframes typing {
    from {width:0}
    to {width: 100%;}
}

.animate-text { 
	visibility:hidden;
     color:black; 
}



/** Assemblage des CSS des différentes sections/pages **/

/** page 4 **/ 

.page4 h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 2.5rem;
    height: fit-content;
    margin-left: 110px;
    text-align:  center;
    width: 600px;
    margin-top: 200px;  
}


.page4 {
    height: 110vh;
    color: black;
}

.page4 p {
    /* margin-top: 20px; */
    padding: 0 50px 50px 50px;
    padding-bottom: 20px;
    font-size: 1.35rem;
   
}

.gros-trait {
    margin-top: 50px;
    width: 100%;
    height: 5vh;
    background-color: #2C2C2C;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.fin-trait { 
    position: absolute;
    border-left: 0.5px solid black;
}

.graph_bar_presentation .fin-trait {
    left: 200px;
    height: 200vh;
 }



.page4 svg {
    width: 90%;
    position: absolute;
    margin-top: 50px;
    right: 30px;
    border: black solid 0.5px;

}

.page4 .graduation {
    border: black solid 0;
    z-index: -1;
}

.page4 .graph-container {
    width: 100%;
    position: relative;
   
}



.test {
    display: flex;
   
}

/** GraphiqueBaton **/
rect {
    fill: rgb(162, 58, 58);
    stroke: black;
    stroke-width: 0.05px;
    }
/** FIN GraphiqueBaton **/

/** Gender **/

.type-exploitations{
    color: #F1F1F1;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 100% */
    text-transform: uppercase;
    flex-shrink: 0;
    background-color: #2C2C2C;
    width: 100%;
    /* height: 23vh; */
    padding: 50px 0 50px 25px ;
  
}

.page3-gender {
   background-color: rgb(255, 255, 255);
   /* height: 100vh; */
   background-repeat: no-repeat;
   background-size: cover; 
   font-family: 'Roboto Mono', monospace;
   color: black;
   position: relative;
   height: 100vh;

}

  

.container-wrapper{
    flex-wrap: wrap;
    padding: 100px 50px 50px ;
    display: flex;
    /* padding: 123px; */

 }

 .gender h3 {
    font-size: 1.9rem;
    color: black;
    font-family:'poppins';
    text-align: left;
    /* margin: 50px; */
    width:fit-content;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
 }

 
 
  .gender h3::after {
    content: '';
    border-bottom: solid #C5332F 8px;
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 4px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  
  
  .gender h3:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .gender h3:hover {
    letter-spacing: 2px;
    opacity: 1;
  }

  
 .container {
     /* /* position: absolute;* */
     /* top: 15%; 
     left: 50%;  */
     display: flex;
     /* margin-right: auto;  */

     /* position: absolute;
      transform: translateX(-50%);
     padding: 20px;  */
 }
 .imagegender{
     clip-path:ellipse(50% 50%);
 }
 
 #men{
    /* height: 100vh; */
     display: none;
 }
 #women{
    /* height: 100vh; */

     display: none;
 }
 #girls{
    /* height: 100vh; */

     display: none;
 }
 #boys{
    /* height: 100vh; */

     display: none;
 }
 /** FIN Gender **/


 /* conclusion */ 

.conclusion {
    color: black;
}

 .conclusion .fin-trait {
   right: 300px;
   height: 150vh;
   z-index: -1;
 }

 .conclusion h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 10rem;
    text-align: center;
    
 }

 .last-words {
    position: relative;
    margin-top: 30px;

 }

 .last-words img {
    position: absolute;
    bottom: 0%;
    right: 32%;

    width: 35%;
    z-index: -1;

 }

 .conclusion p {
    padding: 100px;
    margin-right: 300px;
 }

 video {
    margin-left: 70px;
    border: solid 1px black;
    width: 90%;
    margin-bottom: 50px;
 }

<<<<<<< HEAD
 video:hover{
   
        cursor: url("petit.jpg"), auto;
      
 }






=======
>>>>>>> 87e80bf2344278fc45835d06b026bd195a9372d3
.graph_bar_presentation_title{
    color: #2C2C2C;
    font-size: 4rem;
    z-index: 1;
    line-height: 1.3;
}

.graph_bar_presentation_title_space{
    margin-left: 50px;
}

.graph_bar_presentation_title_italic{
font-style: italic;
}


.graph_bar_presentation{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    font-weight: 600;
    width: 85%;

}

.graph_bar_presentation_title{
    grid-column:  2 / -1;
}

.graph_bar_presentation_img img{
   max-width: 900px;
   height: 100%;
}
.graph_bar_presentation_img{
    grid-column: 5/-1;
    padding: 100px 10px 100px;

}

.graph_bar_presentation_title, .graph_bar_presentation_img{
    grid-row: 1 / 2;
    align-self: center;
 }
    
.from_to{
    font-size: 2rem;
    font-style: italic;
    color: #717171;
}

.page5{
    color: #2C2C2C;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    font-weight: 600;
    width: 100%;
    

}

.age_broad_title{
    grid-column:  2 / -1;
    z-index: 1;

}

.age_broad_title h2{
    font-size: 5rem;
    /* text-transform: uppercase; */
line-height: 1.3;
margin-left: 40px;
   
}

.age_broad_title p {
    margin-top: 20px;
    width: 40%;
    font-size: 1.2rem;
    margin-left: 40px;

}

.age_broad_img img{
    max-width: 1000px;
    height: 90%;
}


.age_broad_img{
    grid-column: 5/-1;
    padding: 100px 10px 100px;
    margin-right: 60px;

}

.age_broad_title, .age_broad_img{
    grid-row: 1 / 2;
    align-self: center;
 }

 .age_broad_title_italic{
    font-style: italic;
 }




 .container-credit{
    
    background-color: #2C2C2C;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 140vh; */
    padding: 6rem;
    gap: 5rem;
}
p{
    font-weight: 400;
    font-size: 0.9rem;
   
}
.person{
    list-style: url('https://api.iconify.design/grommet-icons/restroom-men.svg?color=white&width=24&height=24');
}
.dataset{
    color: #f4f4f4;
    text-decoration: none;
}
.doc{
   color: #f4f4f4;
  
}
a {
    color: #f4f4f4;
    font-size: 0.8rem;
}


.chartBox {
    width: 800px;
    padding-left: 30px;
}


button {
    background-color: transparent;
    border: none;
    border: 1px solid #2C2C2C;
    color: #2C2C2C;
    padding: 5px 5px;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 10px 10px 30px 0;
    
}

button::before {
    content: "";
    inset: 0;
    clip-path: circle(0% at 50% 50%);
    z-index: -1;
    background-color: #2C2C2C;
    transition: .5s ease-in-out;
    position: absolute;
}

button:hover {
    color: #F4F4F4;
    cursor: none;
}

button:hover::before {
    clip-path: circle(100% at 50% 50%);
        cursor: none;

}

